html
    head
        title Cities
        style
             include ./style.css
    body 
        h1 Cities
        table
            thead 
                tr
                    th Id 
                    th Name
            each val in cities 
                tr
                    th= val.id
                    th= val.name